@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px; /* Dinaikin agar jarak aman ke bawah navbar lebih lega */
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}
